.text-box {
  width: 85%;
  margin: auto;
  display: flex;
  direction: row;
  align-items: center;
  justify-content: space-between;
  height: 25%;
}

.text-box button {
  background-color: transparent;
  box-shadow: none;
  border: none;
  color: #5682a3;
  font-weight: bold;
}

textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;

  background-color: transparent;
  border-bottom: #5682a3 solid 2px;
  width: inherit;
}
